import (secr)
importFrom ("graphics", "par", "plot", "points", "polygon")
importFrom ("stats", "runif", "predict")
importFrom ("utils", "flush.console")
importFrom ("mvtnorm", "dmvnorm")
importFrom ("parallel", "parLapply", "makeCluster", "clusterSetRNGStream", 
            "stopCluster", "clusterExport")
importFrom ("utils", "packageDescription")
importFrom ("utils", "packageVersion")
importFrom ("sp", "Polygon", "Polygons", "SpatialPolygons")
importFrom ("geoR", "coords.aniso")
importFrom ("rgeos", "gIntersection")
export (simpopn.bvn)
export (simcapt.bvn)
export (plotpopn.bvn)
export (runEllipseSim)
export (sumplot)